body {
    background-color: lavender;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

footer {
    background-color: lavender;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    text-align: center;
    margin-left: 10px;
}

code {
    color: mediumpurple;
}

a {
    color: blue
}

.main-text {
    color: darkviolet;
}

.sub-text {
    color: indigo;
}

#main-box {
    align-items: center;
    margin: 0 25% 0 25%;
}